<div class="sidebar-section">
    <div class="sidebar-title">Completions</div>
    <div class="sidebar-button completion-2018"><a onclick="showCompletion2018()" href="/gaming/2018">2018</a></div>
    <div class="sidebar-button completion-2017"><a onclick="showCompletion2017()" href="/gaming/2017">2017</a></div>
    <div class="sidebar-button completion-2016"><a onclick="showCompletion2016()" href="/gaming/2016">2016</a></div>
    <div class="sidebar-button completion-2015"><a onclick="showCompletion2015()" href="/gaming/2015">2015</a></div>
</div>
<div class="sidebar-section">
    <div class="sidebar-title">Lists</div>
    <div class="sidebar-button list-top-100"><a onclick="showTop100()" href="/gaming/top-100" style="text-decoration: line-through">Top 100</a></div>
    <div class="sidebar-button list-backlog"><a onclick="showBacklog()" href="/gaming/backlog" style="text-decoration: line-through">Backlog</a></div>
</div>
<div class="sidebar-section">
    <div class="sidebar-title">GOTY</div>
    <div class="sidebar-button goty-2018"><a onclick="showGoty2018()" href="/gaming/goty2018" style="text-decoration: line-through">2018</a></div>
    <div class="sidebar-button goty-2017"><a onclick="showGoty2017()" href="/gaming/goty2017" style="text-decoration: line-through">2017</a></div>
    <div class="sidebar-button goty-2016"><a onclick="showGoty2016()" href="/gaming/goty2016" style="text-decoration: line-through">2016</a></div>
</div>