#completions {
    display: flex;
    flex-wrap: wrap;
}
.completion-game {
    border: 1px solid white;
    height: 300px;
    overflow: hidden;
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
        border: 1px solid black;
    }
    &.completion-game.lazy {
        background-image: none !important;
        background-color: #F1F1FA;
    }
}
.completion-title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    height: 100%;
    background-image: url('/images/bg3.png');

    .completion-title-year {
        font: 600 1.5em/1 'Raleway', sans-serif;
        color: rgba(255, 255, 255, 0.5);

        span, span:after {
            font-weight: 900;
            color: #FFFFFF;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            letter-spacing: .1em;
            padding: .2em 0 .3em 0;
        }
        span {
            z-index: 90;
            text-shadow: .04em .04em 0 #353535;
        }
        span:after {
            content: attr(data-shadow-text);
            color: rgba(255, 255, 255, 0.35);
            text-shadow: none;
            position: absolute;
            left: .0875em;
            top: .0875em;
            z-index: -1;
            -webkit-mask-image: url(/images/banner/mask.png);
        }
    }
}

// TEMP FOR GAMING PAGE
@media screen and (min-width: 1800px) {
    .completion-game {
        min-width: 350px;
    }
}
@media screen and (max-width: 1799px) {
    .completion-game {
        min-width: calc(25% -  1em);
    }
    .completion-game:nth-child(4n+1) {
        min-width: calc(50% - 1em);
    }
}
@media screen and (max-width: 1400px) {
    .completion-game {
        min-width: calc(33% -  1em);
    }
    .completion-game:nth-child(4n+1) {
        min-width: calc(66% - 1em);
    }
}
@media screen and (max-width: 900px) {
    .completion-game {
        min-width: calc(50% -  1em);
    }
    .completion-game:nth-child(4n+1) {
        min-width: calc(100% - 1em);
    }
}
/*
@media screen and (min-width: 1200px) {
    .completion-game {
        min-width: calc(33% -  1em);
    }
}
@media screen and (max-width: 1199px) {
    .completion-game {
        min-width: calc(50% - 1em);
    }
}
*/
@media screen and (max-width: 800px) {
    .completion-game {
        min-width: calc(100%);
    }
}
/*
.completion-game:nth-child(3n+1) {
    min-width: calc(50% - 1em);
}
.completion-game:nth-child(5n+1) {
    min-width: calc(100% - 1em);
}
*/

.completion-game-title {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0 10px;
}
.completion-game-title > div {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    padding: 10px 10px 0 0;
    color: white;
    border: 2px solid;
    background: #1d1d1d;
    mix-blend-mode: normal;
    padding: 5px;
    line-height: normal;
    display: inline-block;
}

.completion-game-details {
    opacity: 0;
}
.completion-game:hover {
    .completion-game-details {
        opacity: 100;
        background-color: #ffffffcc;
        padding: 10px;
    }
}

.completion-game-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.completion-game-header-duration {
    display: flex;

    &:after{
        display: block;
        content: "hrs";
        font-style: italic;
    }
}
.completion-game-review {
    line-height: 15px;
}
.completion-game-review-rating {
    display: inline;
    font-weight: bold;
    background-image: url('/images/icons/star.png');
    height: 10px;
    display: inline-block;
    background-size: contain;

    &.completion-game-review-stars-5 {
        width: 50px;
    }
    &.completion-game-review-stars-4 {
        width: 40px;
    }
    &.completion-game-review-stars-3 {
        width: 30px;
    }
    &.completion-game-review-stars-2 {
        width: 20px;
    }
    &.completion-game-review-stars-1 {
        width: 10px;
    }
}