<section class="banner gaming">
  <h1 class="banner-text">
    <span data-shadow-text="Gaming">Gaming</span>
  </h1>
</section>

<div class="content-section">
  <div class="content-side">
    {{> gaming-sidebar }}
  </div>
  <div class="content-main">
    {{> gaming-completion }}
  </div>
</div>