<section class="intro">
  <h1 class="banner-text">
    Gamer, Developer, Writer and Other Stuff
    <br><span data-shadow-text="Reece Warrender">Reece Warrender</span><br>
    QA Architect at <a href="http://www.riotgames.com" target="_blank">Riot Games</a>
  </h1>
</section>
