<section class="banner portfolio">
  <h1 class="banner-text">
    <span data-shadow-text="Portfolio">Portfolio</span>
  </h1>
</section>

<div class="content-section">
  <div class="content-main">
    <section class="work">
      {{!-- Work --}}
      <div class="content">
        <header class="header-text">
          <h1>Work</h1>
          <div></div>
          <p>I've worked with companies around the world in a software analyst capacity for over a decade. Currently working as a QA Lead for Riot Games, continually shipping high quality products to millions of users across the globe.</p>
        </header>
        <div class="work-jobs">
          <div class="work-job-riot"></div>
          <div class="work-job-league"></div>
          <div class="work-job-jagex"></div>
          <div class="work-job-runescape"></div>
          <div class="work-job-havas"></div>
          <div class="work-job-cambridge"></div>
        </div>
      </div>
    </section>

    <section class="social">
      {{!-- Social --}}
      <div class="content">
        <header class="header-text">
          <h1>Social</h1>
          <div></div>
          <p>I lurk on a variety of online platforms. Twitter is my default communication platform, so reach out if you want to say something nice. Steam is my default gaming platform, because PC master race and all that. Reach out, or stalk, whatever.</p>
        </header>
        <div class="social-icons">
          <div class="social-twitter"><a href="https://twitter.com/wo33er" target="_blank" title="Twitter - Wo33er"></a></div>
          <div class="social-steam"><a href="http://steamcommunity.com/id/wo33er" target="_blank" title="Steam - Wo33er"></a></div>
          <div class="social-ps"><a href="https://psnprofiles.com/Wo33er" target="_blank" title="PSN - Wo33er"></a></div>
          <div class="social-xbox"><a href="https://www.trueachievements.com/gamer/Wo33eR" target="_blank" title="Xbox - Wo33er"></a></div>
          <div class="social-linkedin"><a href="https://www.linkedin.com/in/reecewarrender" target="_blank" title="Linkedin - Reece Warrender"></a></div>
          <div class="social-youtube"><a href="https://www.youtube.com/channel/UCOy0jjY2rbaoHJHay9BtbcQ" target="_blank" title="YouTube - Wo33er"></a></div>
          <div class="social-twitch"><a href="https://www.twitch.tv/wo33er" target="_blank" title="Twitch - Wo33er"></a></div>
          <div class="social-instagram"><a href="https://www.instagram.com/reecewarrender" target="_blank" title="Instagram - Reecewarrender"></a></div>
        </div>
      </div>
    </section>
  </div>
  <div class="content-side">
    Side panel
  </div>
</div>