<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    {{> layout-head }}
    <body class="nav-white">
        <div id="navbar-container">
            <nav id="navbar">
                <ul id="navbar-left">
                    <li id="home"><a href="/"></a></li>
                    <!--<li id="portfolio"><a href="/portfolio">Portfolio</a></li>-->
                    <li id="gaming"><a href="/gaming">Gaming</a></li>
                </ul>
                <ul id="navbar-right">
                    <li class="twitter"><a href="https://twitter.com/RiotWozzer" target="_blank"></a></li>
                    <li class="github"><a href="https://github.com/wo33er" target="_blank"></a></li>
                </ul>
            </nav>
        </div>
        {{{body}}}
    </body>
</html>